extends layout
block content
    div#console
    input#inputFile(type="file" name="picField" size="24" onchange="test(event)" alt="")
    img#img(crossorigin
        width="650"
        height="650")
    script.
        let neuralCats=[0,0,0,0]
        let net;
        function test(event){
            var selectedFile = event.target.files[0];
            var reader = new FileReader();
            var imgtag = document.getElementById("img");
            imgtag.title = selectedFile.name;

            reader.onload = function (event) {
                imgtag.src = event.target.result;
            };

            reader.readAsDataURL(selectedFile);
            app(selectedFile)
        };
        async function app(selectedFile) {
            net = await mobilenet.load();
            const imgEl = document.getElementById('img');
            const result = await net.classify(imgEl, 4);
            console.log(result)
            neuralCats=[0,0,0,0]
            result.forEach(type => {if (type.className.includes('prison') || type.className.includes('sliding door') || type.className.includes('mosquito')|| type.className.includes('dust')) neuralCats[3]=neuralCats[3]+type.probability; else if(type.className.includes('theater') || type.className.includes('studio couch')|| type.className.includes('studio couch')|| type.className.includes('restaurant')) neuralCats[0]=neuralCats[0]+type.probability; else if ( type.className.includes('bathtub') || type.className.includes('radiator') || type.className.includes('welcome mat') || type.className.includes('doormat')|| type.className.includes('paper')|| type.className.includes('mousetrap')|| type.className.includes('carton')||type.className.includes('closet')||type.className.includes('bookcase')) neuralCats[2] = neuralCats[2] + type.probability; else if (type.className.includes('microwave') || type.className.includes('television') || type.className.includes('dishwashing') || type.className.includes('shower') || type.className.includes('board')|| type.className.includes('cabinet')|| type.className.includes('prayer')|| type.className.includes('lavabo')) neuralCats[1] = neuralCats[1] + type.probability})
            if(neuralCats[0]>0&&neuralCats[3]>0) {neuralCats[1]=neuralCats[1]+neuralCats[0]; neuralCats[2] = neuralCats[2] + neuralCats[3];}
            if(neuralCats[0]>0&&neuralCats[3]===0&&neuralCats[2]>0) neuralCats[1]=neuralCats[1]+neuralCats[2]+neuralCats[0]
            if(neuralCats[3] > 0 && neuralCats[0] === 0 && neuralCats[1] > 0) neuralCats[2] = neuralCats[1] + neuralCats[2] + neuralCats[3]
            console.log(neuralCats)
            var formData = new FormData();
            formData.append("file", selectedFile);
            $.ajax({
                url: "http://192.168.1.138:3003/colorsImg",
                type: "POST",
                data: formData,
                processData: false,
                contentType: false,
                success: function (res) {
                    $.post("http://192.168.1.138:3003/colors", {name: res.name}, (resTwo) => {
                        //console.log(resTwo)
                    });
                }
            })
        }
