extends layout

block content
    .blockKontent
        h1 E.V.A
        p.logo evaluator
        .borderRoom
            div#console
            .anilizeImage
                img.image#img(crossorigin)
            input.inpDownloadImg#inputFile(type="file" name="picField" size="24" multiple="multiple" onchange="test(event)" alt="")
            .textOutput
                p.Output здесь должен быть текст
    script.
        let net;
        let filesImg=[];
        function test(event){
            console.log(event.target.files)
            var selectedFile = event.target.files[0];
            var reader = new FileReader();

            var imgtag = document.getElementById("img");
            imgtag.title = selectedFile.name;

            reader.onload = function (event) {
                imgtag.src = event.target.result;
            };

            reader.readAsDataURL(selectedFile);
            app(selectedFile)
        };
        async function app(selectedFile) {
            net = await mobilenet.load();
            //const imgEl = document.getElementById('img');
            //const result = await net.classify(imgEl, 5);
            //console.log(result);
            var formData = new FormData();
            formData.append("file",selectedFile);
            $.ajax({
                url: "http://192.168.1.138:3000/colorsImg",
                type: "POST",
                data: formData,
                processData: false,
                contentType: false,
                success: function (res) {
                    console.log(res)
                    $.post("http://192.168.1.138:3000/colors",{name:res.name},(resTwo)=>{
                                console.log(resTwo)
                    });
                }
            });
        }
